# Copy to .env.moo and adjust values for local testing.
MOO_HOST=lambdamoo
MOO_PORT=7777
WIZARD_LOGIN=wizard
WIZARD_CONNECT_PASSWORD=
WIZARD_PASSWORD=wizardtest
REGULAR_USERNAME=regular
REGULAR_PASSWORD=regulartest
ROOM_ONE_NAME=Room One
ROOM_TWO_NAME=Room Two
